.pixel {
    width: 6rem;
    height: 6rem;
    width: 6rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    &__link {
        text-decoration: none;
    }
}