.board {
    display: flex;
    width: 30rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
}

.row {
    display: flex;
    flex-direction: row;
}